<ul class="list-unstyled">
  <% microposts.each do |micropost| %>
    <li class="media mb-3">
      <img class="mr-2 rounded" src="<%= gravatar_url(micropost.user, { size: 50 }) %>" alt="">      
      <div class="media-body">
        <div>
          <%= link_to micropost.user.name, user_path(micropost.user) %><span class="text-muted">posted at <%= micropost.created_at %></span>
        </div>
        <div>
          <p class="mb-0"><%= micropost.content %></p>
        </div>
        <div>
          <% if current_user == micropost.user %>
            <%= link_to "Delete", micropost, method: :delete, data: { confirm: "You sure?"}, class: 'btn btn-danger btn-sm' %>
          <% end %>
          <!--お気に入りボタン-->
          <% if current_user.like_post?(micropost) %>
            <%= form_with(model: current_user.favorites.find_by(micropost_id: micropost.id), local: true, method: :delete, class: 'd-inline') do |f| %>
              <%= hidden_field_tag :micropost_id, micropost.id %>
              <%= f.submit 'Unlike', class: 'btn btn-danger btn-sm' %>
            <% end %>
          <% else %>
              <%= form_with(model: current_user.favorites.build, local: true, class: 'd-inline') do |f| %>
                <%= hidden_field_tag :micropost_id, micropost.id %>
                <%= f.submit 'Like', class: 'btn btn-primary btn-sm' %>
              <% end %>
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
  <%= paginate microposts %>
</ul>